@CHARSET "UTF-8";

.UP, .BUY { color: #008800; }
.DOWN, .SELL { color: #880000; }
.SIDEWAYS, .HOLD { color: #888800; }

.trend, .action, .reason { font-weight: bold; white-space: nowrap; }
.main { color: #000088; }
.signal, .negative, .sell-stop, .stop-loss { color: #880000; }
.positive, .buy-stop { color: #008800; }

body { font-size: 0.8em !important; }

.header, .header tr, .header td { background: none; border: none !important; padding: 0em !important; }
.header .middle { width: 50%; text-align: center; color: #FFFFFF; }
.header .left { width: 25%; text-align: left; }
.header .right { width: 25%; text-align: right; }
.header .caption { font-size: 0.6em; }

.text { text-align: center; }
.numeric { text-align: right; }

.menu .selected { color: #FFFFFF; background: #6580A1; }

.no-border, .no-border tr, .no-border td { border: none !important; }
.no-border .ui-chkbox-label { margin-top: 0em !important; }

.table { display: table; width: 100%; }
.table-row { display: table-row; }
.table-cell { display: table-cell; }