@CHARSET "UTF-8";

/* HTML Overrides */
body { font-size: 0.8em !important; }


/* Primefaces Overrides */
.ui-datatable-even { background-color: #FFFFFF; }
.jqplot-table-legend { width: auto !important; }


/* User defined */
.no-border, .no-border tr, .no-border td { border: none !important; }
.no-border .ui-chkbox-label { margin-top: 0em !important; }

.table { display: table; width: 100%; }
.table-row { display: table-row; }
.table-cell { display: table-cell; }

.menu { width: 210px; border: none; }
.menu .selected { color: #FFFFFF; background: #6580A1; }

.header, .header tr, .header td { background: none; border: none !important; padding: 0em !important; }
.header .middle { width: 50%; text-align: center; color: #FFFFFF; }
.header .left { width: 25%; text-align: left; }
.header .right { width: 25%; text-align: right; }
.header .caption { font-size: 0.6em; }

.files-uploaded thead { display: none; }
.files-uploaded .ui-datatable-header { padding: 10px !important; }

.data { width: 31.6em; }
.data .table-cell:first-child { width: 11em; }
.data table { width: 35em; }
.data .ui-panel-title { margin: 0em !important; }

.inplace .ui-inplace-editor { vertical-align: super; }

.text { text-align: center; }
.numeric { text-align: right; }

.chart { width: 500px; height: 250px; }

.panel .ui-panel-content { padding: 0em !important; }

.panelgrid { font-size: 0.9em !important; }
.panelgrid td { border: 1px solid #CCCCCC !important; }
.panelgrid td:first-child { width: 11em !important; background-color: rgba(225,225,225, 0.6); }
.panelgrid .ui-panelgrid-even { background-color: #FFFFFF; }

.GAIN, .UP, .STRONG_UP, .BUY, .TAKE_PROFIT, .LOW { color: #008800; }
.LOSS, .DOWN, .STRONG_DOWN, .SELL, .SELL_INTO_STRENGTH, .HIGH { color: #880000; }
.NO_CHANGED, .SIDEWAYS, .HOLD, .RANGE_TRADE, .LIGHTEN, .MODERATE { color: #888800; }

.trend, .recommendation, .risk { font-weight: bold; white-space: nowrap; }
.main { color: #000088; }
.signal { color: #880000; }